

<!--
Designed by Gad Ocansey <gadocansey@gmail.com> +233243348522
-->
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{% block title %}Takoradi Technical University - Admissions{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/logo2.png') }}" />

</head>

<body class="pushable">
{#<div class="ui modal test">
    <div class="header">Reset lost admission voucher</div>
    <div class="ui red" style="margin-left: 19px;color:red">Please if you bought the form on campus use provide your phone no. to get your lost voucher else click <a href="http://help.ttuportal.com">Click this</a></div>

    <div class="content">
        <div class="ui fluid form billboard">
            <form method="post" id="voucher" enctype="multipart/form-data" action="http://srms.ttuportal.com/fireVoucher">
            <div class="required field">
                <label>Phone Number</label>
                <input placeholder="" type="text" name="phone" required>
            </div>

            <div class="actions">
                <input  onclick="$('#voucher').submit();" class="ui positive submit button" type="submit" value="Send Me Code">

                <div class="ui red deny clear button">
                    Cancel
                </div>


            </div>
            </form>
        </div>
    </div>
</div>#}


<div class="pusher">
    <div id="menu" class="ui large sticky inverted stackable menu">







        <div class="ui right stackable inverted menu">

            <a href="#" id="help" class="item">Ive forgotton my voucher</a>
        </div>



    </div>

    <div class="ui container">
 <header>
            <div class="ui basic segment">
                <div class="ui three column stackable grid">
                    <div class="column">
                        <a href="{{ path('security_login') }}"><img  style="width: 250px;margin-left: -24px" src="{{ asset('assets/images/logo.png') }}" alt="TTU logo" class="ui small image" /></a>
                    </div>


                </div>
            </div>





            <div class="ui large stackable menu">

                <a href="{{ path('security_login') }}" class="item">Home</a>


                <a href="{{ path('foreign') }}"   class="item">Apply as Foreign Applicants</a>






            </div>

        </header>




        <h1 class="ui header">
            <i class="circular user icon"></i>
            <div class="content">
                Applicant login
                <div class="sub header">Login to get access to the admissions form</div>
            </div>
        </h1>




        <div class="ui padded segment">
            <div class="ui two column very relaxed stackable grid">
                <div class="column">


                    <h4 class="ui dividing header">Sign In</h4>
                    <p>Login in with your Serial Number and Pin Code on the voucher.</p>
                    <form name="" method="post" action="{{ path('security_login') }}" class="ui loadable form"  >


                        <div class="required field"><label for="_username" class="required">Serial Number</label><input type="text" id="_username" name="_username" value="{{ last_username }}" required="required" /></div>
                        <div class="required field"><label for="_password" class="required">Pin Code</label><input type="password" id="_password" name="_password" required="required" /></div>
                        <div class="field">
                            <div class="ui toggle checkbox"><input type="checkbox" id="_remember_me" name="_remember_me" value="1" /><label for="_remember_me">Remember me</label></div>
                        </div>



                        <button type="submit" class="ui blue submit button">Login</button>

<a href="/en_US/forgotten-password" class="ui right floated button">Misplaced Voucher?</a>


                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    </form>


                </div>
                <div class="ui hidden vertical divider">
                </div>
                <div class="column">


                    <h4 class="ui dividing header">Steps</h4>
                    <p>Step 1: Logon with your serial and pin purchased</p>
                    <p>Step 2: Upload a red or white background passport size photo of type jpg and size 250KB</p>
                    <p>Step 3: Fill all necessary information</p>
                    <p>Step 4: Make photocopy of your result slips and certificates (if any) attached to your application print out</p>
                    <p>Step 5: Send your application to the university via EMS using address

                        <pre>
                            The Registrar,
                            Takoradi Technical University,
                            P.O.BOX 256,
                            Takoradi - W/R
                    </pre>

                    </p>
                    <p><i>All complains and suggestions should be send to admissions@ttu.edu.gh</i></p>

                </div>
            </div>
        </div>


    </div>

    <footer id="footer" class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui inverted divided equal height stackable grid">


                <div class="eight wide column">
                    <h4 class="ui inverted header">&copy;{{'now'|date('Y') }} All Rights Reserved - Takoradi Technical University</h4>
                    <p>Powered by <a href="ttu.edu.gh" target="_blank" style="color: #1abb9c;">TPConnect</a>.</p>
                </div>


            </div>
        </div>
    </footer>
    {% if error %}
    <div class="ui mini modal">
        <i class="close icon"></i>
        <div class="header">
          Attention
        </div>
        <div class="image content">

            <div class="description">

                    {{ error.messageKey|trans(error.messageData, 'security') }}

            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Ok
            </div>

        </div>
    </div>
    {% endif %}
</div>

<script src="{{ asset('assets/js/app.js')}}"></script>

<script>

    {% if error %}
        $('.ui.modal').modal('show');
    {% endif %}

    $(function(){
        $("#help").click(function(){
            $(".test").modal('show');
        });
        $(".test").modal({
            closable: true
        });
    });


    </script>





</body>
</html>
